<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <h1>{{title}}</h1>
        <button @click="view='todos'">Todos</button>
        <button @click="view='otherview'">Other App</button>
<!--     <div v-show="view == 'todos'"> -->
        <div v-bind:class="{done: todo.done, important: todo.important}" v-for="(todo, index) in todos">
            {{todo.label}}
            <span @click="todo.done = !todo.done">
            {{ todo.done ? "☑" : "☐"}}
            </span>
            <span v-on:click="removeTodo(index)">🗑</span>
            </div>
            <input v-model="newTodoLabel"/>
            <button @click="addTodo()">
            New Todo
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
            
    
</body>
</html>